<!DOCTYPE html>
<html lang="en" th:fragment="dynamic(main)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WHEYSHOP.fake</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"/>
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet"/>
    <style type="text/css">
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body class="container" ng-app="shopping-cart" ng-controller="shopping-cart-ctrl"
      style="background-color: #464a4f;">

<nav class="row">
    <div th:replace=""></div>
</nav>

<!-- Main -->
<div>

</div>

<!-- Footer -->
<footer class="">
        <span class="text-center alert alert-secondary m-0">FPT Polytechnic</span>
</footer>

        <!-- Bootstrap JavaScript Libraries -->
        <script src=""></script>
        <script
                crossorigin="anonymous"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>

        <script
                crossorigin="anonymous"
                integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>

</body>
</html>
