<div class="card">
	<div class="card-header text-center">
	<h3>LIST ORDER</h3>
	</div>
	<div class="card-body p-0">
		<table class="table table-bordered m-0">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in pager_order_detail.items">
					<th>{{p.product.id}}</th>
					<td>{{p.product.name}}</td>
					<td>{{p.price}}</td>
					<td>{{p.quantity}}</td>
					<td>{{p.price*p.quantity}}</td>
					
					<!-- <td>
						<button ng-click="edit(p)" type="button" class="btn btn-outline-warning py-1 px-2"><i class="fa-solid fa-pen-to-square"></i></button>
						<button ng-click="delete(p)" type="button" class="btn btn-outline-danger py-1 px-2"><i class="fa-solid fa-trash"></i></button>
					</td> -->

				</tr>

			</tbody>
		</table>
	</div>
	<div class="card-footer text-center">
	<button ng-click="pager_order_detail.first()" type="button" class="btn btn-danger">
		<i class="fa-solid fa-circle-chevron-left"></i>
		</button>
		<button ng-click="pager_order_detail.prev()" type="button" class="btn btn-primary">
			<i class="fa-solid fa-backward"></i>
		</button>
		<span class="btn btn-warning">
			<i class="fa-solid fa-download"></i> {{pager_order_detail.page+1}} of {{pager_order_detail.count}}
		</span>
		<button ng-click="pager_order_detail.next()" type="button" class="btn btn-primary">
			<i class="fa-solid fa-forward"></i>
		</button>
		<button ng-click="pager_order_detail.last()" type="button" class="btn btn-danger">
			<i class="fa-solid fa-circle-chevron-right"></i>
		</button>
	</div>
</div>