
<div class="card">
	<div class="card-header text-center">
	<h3>LIST CATEGORY</h3>
	</div>
	<div class="card-body p-0">
		<table class="table table-bordered m-0">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th>{{item.id}}</th>
					<td>{{item.name}}</td>
					<td>
						<button ng-click="edit(item)" type="button" class="btn btn-outline-warning py-1 px-2"><i class="fa-solid fa-pen-to-square"></i></button>
						<button ng-click="delete(item)" type="button" class="btn btn-outline-danger py-1 px-2"><i class="fa-solid fa-trash"></i></button>
					</td>

				</tr>

			</tbody>
		</table>
	</div>
	<div class="card-footer text-center">
	<button ng-click="pager.first()" type="button" class="btn btn-danger">
		<i class="fa-solid fa-circle-chevron-left"></i>
		</button>
		<button ng-click="pager.prev()" type="button" class="btn btn-primary">
			<i class="fa-solid fa-backward"></i>
		</button>
		<span class="btn btn-warning">
			<i class="fa-solid fa-download"></i> {{pager.page+1}} of {{pager.count}}
		</span>
		<button ng-click="pager.next()" type="button" class="btn btn-primary">
			<i class="fa-solid fa-forward"></i>
		</button>
		<button ng-click="pager.last()" type="button" class="btn btn-danger">
			<i class="fa-solid fa-circle-chevron-right"></i>
		</button>
	</div>
</div>