<div class="card">
	<div class="card-header text-center">
	<h3>LIST ACCOUNT</h3>
		<button style="margin-left: 900px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
				data-bs-whatever="@mdo"> <i class="fa-solid fa-plus"></i> Add</button>
	</div>
	<div class="card-body p-0">
		<table class="table table-bordered m-0">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Password</th>
					<th scope="col">Fullname</th>
					<th scope="col">Email</th>
					<th scope="col">Photto</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="acc in pager.items">
					<th>{{acc.username}}</th>
					<td>{{acc.password}}</td>
					<td>{{acc.fullname}}</td>
					<td>{{acc.email}}</td>
					<td>{{acc.photo}}</td>
					<td>
						<button ng-click="edit(acc)" type="button" class="btn btn-outline-warning py-1 px-2"><i class="fa-solid fa-pen-to-square"></i></button>
						<button ng-click="delete(acc)" type="button" class="btn btn-outline-danger py-1 px-2"><i class="fa-solid fa-trash"></i></button>
					</td>

				</tr>

			</tbody>
		</table>
	</div>
	<div class="card-footer text-center">
	<button ng-click="pager.first()" type="button" class="btn btn-danger">
			<i class="fa-solid fa-hand-point-up"></i>
		</button>
		<button ng-click="pager.prev()" type="button" class="btn btn-primary">
			<i class="fa-solid fa-hand-point-left"></i>
		</button>
		<span class="btn btn-success">
			<i class="fa-solid fa-download"></i> {{pager.page+1}} of {{pager.count}}
		</span>
		<button ng-click="pager.next()" type="button" class="btn btn-primary">
			<i class="fa-solid fa-hand-point-right"></i>
		</button>
		<button ng-click="pager.last()" type="button" class="btn btn-danger">
			<i class="fa-solid fa-hand-point-down"></i>
		</button>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">New Account</h1>
				<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="card">
						<div class="row g-0">
							<div class="col-md-4 text-center">
								<img ng-src="/assets/images/{{form.photo}}" class="img-fluid rounded-start"/>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<div class="row" >
										<div class="col-md-6 mb-1">
											<label class="form-label">Username</label>
											<input ng-model="form.username" type="text" class="form-control" />
										</div>
										<div class="col-md-6 mb-1">
											<label class="form-label">Password</label>
											<input ng-model="form.password" class="form-control" />
										</div>

										<div class="col-md-6 mb-1">
											<label class="form-label">Fullname</label>
											<input ng-model="form.fullname" type="text" class="form-control" />
										</div>
										<div class="col-md-6 mb-1">
											<label class="form-label">Email</label>
											<input ng-model="form.email" class="form-control" />
										</div>

										<div class="col-md-6 mb-1">
											<label class="form-label">Photo</label>
											<input class="form-control" type="file" id="formFile"
												   onchange="angular.element(this).scope().imageChanged(this.files)"/>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
				<button class="btn btn-primary" ng-click="create()" type="button">Create</button>
			</div>
		</div>
	</div>
</div>